html{
  font-family: Arial;
  display: inline-block;
  margin: 10px auto;
  text-align: center;
}
h2{
  color: #0F3376;
  padding: 1.7vh;
}
p{
  font-size: 1rem;
}
.bulb{
  width: 20px;
  height: auto;
}
.button{
  display: inline-block;
  border: 1px solid black;
  border-radius: 7px;
  color: white;
  padding: 11px 30px;
  margin: 2px;
  background-color: #33568a;
}
.button:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: all .3s ease-in-out;
}
.button2{
  background-color: rgb(240, 229, 229);
}
